<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419042376123-bugig7omrknte8rbb5s60ifd4l13hd7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419042376123-bugig7omrknte8rbb5s60ifd4l13hd7s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>419042376123-b1n133j8kj5ovnhc46pcukg6kk703i3e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBMuTMrKoax89_3xm-C513Wbhikw72nNF4</string>
	<key>GCM_SENDER_ID</key>
	<string>419042376123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vinceglb.spacedrop</string>
	<key>PROJECT_ID</key>
	<string>bento-vince</string>
	<key>STORAGE_BUCKET</key>
	<string>bento-vince.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419042376123:ios:c22efafe8fc6fe0d8b6c9e</string>
	<key>DATABASE_URL</key>
	<string>https://bento-vince.firebaseio.com</string>
</dict>
</plist>